<%- layout('layouts/pro') %>


    <body background="img/cook.jpg">

        <!--Productos-->

        <section id="pasteles">
            <div class="row mb-5">
                <div class="card" style="background-color: #ae06a8;">
                    <div class="card-body">
                        <h2> <b>  Seccion de Pasteles </b> </h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" img src="pro/pastel.jpg" alt="Card image cap" style="height: 13.5rem;">
                            <div class="card-body">
                                <h4 class="card-title" name="nombreProducto"><b>Drip Cakes </b></h4>
                                <p class="card-text" name="Descripcion">Este tipo pastel es ideal para cumpleanos ya que incluyen pequena sorpresa adentro. </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-check" style="color:#24b300"></i>
                                    <b> Disponible</b>
                                </li>


                                <li class="list-group-item" name="Precio">
                                    <i class="fas fa-tag"><b style="color:#0400ff"> $250</b></i>
                                </li>
                            </ul>
                            <div class="card-body">
                                <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" img src="pro/pas.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title" name="nombreProducto"><b>Extra moist Cake </b></h4>
                                <p class="card-text" name="Descripcion">Pastel extra esponjoso y cremoso, ideal para cualquier tipo de evento.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-check" style="color:#24b300"></i>
                                    <b> Disponible</b>
                                </li>
                                <li class="list-group-item" name="Precio">
                                    <i class="fas fa-tag"><b style="color:#0400ff" >$270</b></i>
                                </li>
                            </ul>

                            </ul>
                            <div class="card-body">
                                <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-sm-6">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" img src="pro/past.jpg" alt="Card image cap" style="height: 15rem;">
                            <div class="card-body">
                                <h4 class="card-title" name="nombreProducto"><b>Number cake  </b></h4>
                                <p class="card-text" name="Descripcion"> Pastel personalizado puede ser numero o letra. </p>
                            </div>


                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-check" style="color:#24b300"></i>
                                    <b> Disponible</b>
                                </li>
                                <li class="list-group-item" name="Precio">
                                    <i class="fas fa-tag"><b style="color:#0400ff"> $300</b></i>
                                </li>
                            </ul>

                            <div class="card-body">
                                <button type="button" class="btn btn-primary">
                                    <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br/>
            <!--***********************************CUPCAKES*********************************************-->
            <section id="cupcakes">
                <div class="row mb-5">
                    <div class="card" style="background-color: #ae06a8;">
                        <div class="card-body">
                            <h2> <b>  Seccion de Cupakes </b> </h2>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" img src="pro/cupa.png" alt="Card image cap" style="height: 13.5rem;">
                                <div class="card-body">
                                    <h4 class="card-title" name="nombreProducto"><b>Regular Cupcakes </b></h4>
                                    <p class="card-text" name="Descripcion">Cupcakes sencillos ideales para cualquier evento </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <i class="fas fa-check" style="color:#24b300"></i>
                                        <b> Disponible</b>
                                    </li>
                                    <li class="list-group-item" name="Precio">
                                        <i class="fas fa-tag"><b style="color:#0400ff"> $150</b></i>
                                    </li>
                                </ul>
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary">
                                <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" img src="pro/pan.png" alt="Card image cap" style="height: 13rem;">
                                <div class="card-body">
                                    <h4 class="card-title" name="nombreProducto"><b>Murmaid Cupcakes </b></h4>
                                    <p class="card-text" name="Descripcion">Cupcakes tematicos personalizados</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <i class="fas fa-check" style="color:#24b300"></i>
                                        <b> Disponible</b>
                                    </li>
                                    <li class="list-group-item" name="Precio">
                                        <i class="fas fa-tag"><b style="color:#0400ff"> $200</b></i>
                                    </li>
                                </ul>

                                </ul>
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary">
                                <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-sm-6">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" img src="pro/c.jpg" alt="Card image cap" style="height: 13rem;">
                                <div class="card-body">
                                    <h4 class="card-title" name="nombreProducto"><b>Stuffed Cupcakes  </b></h4>
                                    <p class="card-text" name="Descripcion"> Cupcakes personalizados con filling adentro </p>
                                </div>


                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <i class="fas fa-check" style="color:#24b300"></i>
                                        <b> Disponible</b>
                                    </li>
                                    <li class="list-group-item" name="Precio">
                                        <i class="fas fa-tag"><b style="color:#0400ff"> $210</b></i>
                                    </li>
                                </ul>

                                <div class="card-body">
                                    <button type="button" class="btn btn-primary">
                                        <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br/>
                <!--***************************************** CAKEPOPS***************************************-->
                <section id="cakepops">
                    <div class="row mb-5">
                        <div class="card" style="background-color: #ae06a8;">
                            <div class="card-body">
                                <h2> <b>  Seccion de Pasteles </b> </h2>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" img src="pro/cakep.jpg" alt="Card image cap" style="height: 13.5rem;">
                                    <div class="card-body">
                                        <h4 class="card-title" name="nombreProducto"><b>Dripple Cakepops</b></h4>
                                        <p class="card-text" name="Descripcion">Cakepops con diseno personalizado </p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <i class="fas fa-check" style="color:#24b300"></i>
                                            <b> Disponible</b>
                                        </li>
                                        <li class="list-group-item" name="Precio">
                                            <i class="fas fa-tag"><b style="color:#0400ff" > $50</b></i>
                                        </li>
                                    </ul>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary">
                                    <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" img src="pro/colors.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title" name="nombreProducto"><b>Pearls Cakepops </b></h4>
                                        <p class="card-text" name="Descripcion">Cakepops con pearlas personalizadas </p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <i class="fas fa-check" style="color:#24b300"></i>
                                            <b> Disponible</b>
                                        </li>
                                        <li class="list-group-item" name="Precio">
                                            <i class="fas fa-tag"><b style="color:#0400ff"> $55</b></i>
                                        </li>
                                    </ul>

                                    </ul>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary">
                                    <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-sm-6">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" img src="pro/cakepoo.jpg" alt="Card image cap" style="height: 15rem;">
                                    <div class="card-body">
                                        <h4 class="card-title" name="nombreProducto"><b>Lemon Cakepops  </b></h4>
                                        <p class="card-text" name="Descripcion">Cupcakes sabor limon personalizadas </p>
                                    </div>


                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <i class="fas fa-check" style="color:#24b300"></i>
                                            <b> Disponible</b>
                                        </li>
                                        <li class="list-group-item" name="Precio">
                                            <i class="fas fa-tag"><b style="color:#0400ff"> $70</b></i>
                                        </li>
                                    </ul>

                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary">
                                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br/>
                    <!--**************************************GALLETAS ******************************************-->
                    <section id="galletas">
                        <div class="row mb-5">
                            <div class="card" style="background-color: #ae06a8;">
                                <div class="card-body">
                                    <h2> <b>  Seccion de Galletas </b> </h2>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" img src="pro/cookie.jpg" alt="Card image cap" style="height: 13.5rem;">
                                        <div class="card-body">
                                            <h4 class="card-title" name="nombreProducto"><b>Frosted Cookies </b></h4>
                                            <p class="card-text" name="Descripcion"> Galletas con forma y frosting de sabor. </p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <i class="fas fa-check" style="color:#24b300"></i>
                                                <b> Disponible</b>
                                            </li>
                                            <li class="list-group-item" name="Precio">
                                                <i class="fas fa-tag"><b style="color:#0400ff" > $10</b></i>
                                            </li>
                                        </ul>
                                        <div class="card-body">
                                            <button type="button" class="btn btn-primary">
                                        <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" img src="pro/chips.jpg" alt="Card image cap" style="height: 14.5rem;">
                                        <div class="card-body">
                                            <h4 class="card-title" name="nombreProducto"><b> Chocolatechip Cookies  </b></h4>
                                            <p class="card-text" name="Descripcion">Frescas galletas con trocitos de chocolate</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <i class="fas fa-check" style="color:#24b300"></i>
                                                <b> Disponible</b>
                                            </li>
                                            <li class="list-group-item" name="Precio">
                                                <i class="fas fa-tag"><b style="color:#0400ff"> $10</b></i>
                                            </li>
                                        </ul>

                                        </ul>
                                        <div class="card-body">
                                            <button type="button" class="btn btn-primary">
                                        <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-sm-6">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" img src="pro/galle.jpg" alt="Card image cap" style="height: 15rem;">
                                        <div class="card-body">
                                            <h4 class="card-title" name="nombreProducto"><b>Sugar Cookies  </b></h4>
                                            <p class="card-text" name="Descripcion"> Galleta extra sauve con frostring </p>
                                        </div>


                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <i class="fas fa-check" style="color:#24b300"></i>
                                                <b> Disponible</b>
                                            </li>
                                            <li class="list-group-item" name="Precio">
                                                <i class="fas fa-tag"><b style="color:#0400ff" > $10</b></i>
                                            </li>
                                        </ul>

                                        <div class="card-body">
                                            <button type="button" class="btn btn-primary">
                                                <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br/>
                        <!--************************************ PAYS *****************************************-->


                        <section id="pays">
                            <div class="row mb-5">
                                <div class="card" style="background-color: #ae06a8;">
                                    <div class="card-body">
                                        <h2> <b>  Seccion de Pays </b> </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" img src="pro/pays.jpg" alt="Card image cap" style="height: 13.5rem;">
                                            <div class="card-body">
                                                <h4 class="card-title" name="nombreProducto"><b>Pecan Pay </b></h4>
                                                <p class="card-text" name="Descripcion">Pay sabor a nuez personalizadas </p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <i class="fas fa-check" style="color:#24b300"></i>
                                                    <b> Disponible</b>
                                                </li>
                                                <li class="list-group-item" name="Precio">
                                                    <i class="fas fa-tag"><b style="color:#0400ff"> $270</b></i>
                                                </li>
                                            </ul>
                                            <div class="card-body">
                                                <button type="button" class="btn btn-primary">
                                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" img src="pro/paa.jpg" alt="Card image cap" style="height: 15rem;">
                                            <div class="card-body">
                                                <h4 class="card-title" name="nombreProducto"><b>Strawberry Pay  </b></h4>
                                                <p class="card-text" name="Descripcion">Pay de queso sabor fresa </p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <i class="fas fa-check" style="color:#24b300"></i>
                                                    <b> Disponible</b>
                                                </li>
                                                <li class="list-group-item" name="Precio">
                                                    <i class="fas fa-tag"><b style="color:#0400ff"> $280</b></i>
                                                </li>
                                            </ul>

                                            </ul>
                                            <div class="card-body">
                                                <button type="button" class="btn btn-primary">
                                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" img src="pro/p.jpg" alt="Card image cap" style="height: 13rem;">
                                            <div class="card-body">
                                                <h4 class="card-title" name="nombreProducto"><b>S'mores Pies </b></h4>
                                                <p class="card-text" name="Descripcion"> Pay queso sabor chocolate con bombon </p>
                                            </div>


                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <i class="fas fa-check" style="color:#24b300"></i>
                                                    <b> Disponible</b>
                                                </li>
                                                <li class="list-group-item" name="Precio">
                                                    <i class="fas fa-tag"><b style="color:#0400ff" > $300</b></i>
                                                </li>
                                            </ul>

                                            <div class="card-body">
                                                <button type="button" class="btn btn-primary">
                                                    <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br/>
                            <!--***************************************BROWNIES *****************************************-->
                            <section id="brownies">
                                <div class="row mb-5">
                                    <div class="card" style="background-color: #ae06a8;">
                                        <div class="card-body">
                                            <h2> <b>  Seccion de Brownies </b> </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">

                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6">
                                            <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" img src="pro/b.jpg" alt="Card image cap" style="height: 13.5rem;">
                                                <div class="card-body">
                                                    <h4 class="card-title" name="nombreProducto"><b>Brownie Sticks </b></h4>
                                                    <p class="card-text" name="Descripcion">Brocheta de brownie con fruta </p>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <i class="fas fa-check" style="color:#24b300"></i>
                                                        <b> Disponible</b>
                                                    </li>
                                                    <li class="list-group-item" name="Precio">
                                                        <i class="fas fa-tag"><b style="color:#0400ff"> $50</b></i>
                                                    </li>
                                                </ul>
                                                <div class="card-body">
                                                    <button type="button" class="btn btn-primary">
                                                <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-sm-6">
                                            <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" img src="pro/bron.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h4 class="card-title" name="nombreProducto"><b>Decorated Brownie </b></h4>
                                                    <p class="card-text" name="Descripcion">Fudgy Brownies con frosting </p>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <i class="fas fa-check" style="color:#24b300"></i>
                                                        <b> Disponible</b>
                                                    </li>
                                                    <li class="list-group-item" name="Precio">
                                                        <i class="fas fa-tag"><b style="color:#0400ff"> $170</b></i>
                                                    </li>
                                                </ul>

                                                </ul>
                                                <div class="card-body">
                                                    <button type="button" class="btn btn-primary">
                                                <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-3 col-sm-6">
                                            <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" img src="pro/brownies.jpg" alt="Card image cap" style="height: 15rem;">
                                                <div class="card-body">
                                                    <h4 class="card-title" name="nombreProducto"><b>Brownie bites   </b></h4>
                                                    <p class="card-text" name="Descripcion"> Brownie cupcake con filling </p>
                                                </div>


                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <i class="fas fa-check" style="color:#24b300"></i>
                                                        <b> Disponible</b>
                                                    </li>
                                                    <li class="list-group-item" name="Precio">
                                                        <i class="fas fa-tag"><b style="color:#0400ff"> $200</b></i>
                                                    </li>
                                                </ul>

                                                <div class="card-body">
                                                    <button type="button" class="btn btn-primary">
                                                        <i class="bi bi-bag-plus-fill"></i> Comprar</button>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br/>



    </body>