<%- layout('layouts/app') %>

    <body background="img/cupcakes.jpg">
        <!--**********************************CATEGORIAS***********************************************-->
        <section id="categorias">
            <div class="container ">
                <div class="row mb-5 ">
                    <!--    <div class="col-md-8 mx-auto text-xl-center ">
                        <h1 class="text-danger ">Categorias</h1>
                    </div>-->
                </div>
                <div class="row g-4 ">
                    <div class="col-lg-4 col-sm-6 ">
                        <div class="fiestas card-effect ">
                            <div>

                                <h3 class="mt-4 mb-2 text-info "> Pasteles
                                </h3>
                                <hr>
                                <ul class="list-unstyled mb-4 ">
                                    <p><b>Sabores Disponibles</b> </p>
                                    <li><i class='bx bxs-check-circle'></i></i>Chocolate</li>
                                    <li><i class='bx bxs-check-circle'></i>Vainilla</li>
                                    <li><i class='bx bxs-check-circle'></i> Fresa</li>
                                    <li><i class='bx bxs-check-circle'></i>3 leches</li>
                                </ul>
                                <a type="button" class="btn btn-btn btn-success" href="/catalogo#pasteles">Ver Pasteles  </a>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 ">
                        <div class="fiestas card-effect ">
                            <h3 class="mt-4 mb-2 text-info ">Cupcakes</h3>
                            <hr>
                            <ul class="list-unstyled mb-4 ">
                                <p><b>Sabores Disponibles</b> </p>
                                <li><i class='bx bxs-check-circle'></i></i>Chocolate</li>
                                <li><i class='bx bxs-check-circle'></i>Vainilla</li>
                                <li><i class='bx bxs-check-circle'></i> Fresa</li>
                                <p><br/> <b>Filling Disponibles</b> </p>
                                <li><i class='bx bxs-check-circle'></i> Queso crema con fresas</li>
                                <li><i class='bx bxs-check-circle'></i>Ganache</li>
                            </ul>
                            <a type="button" class="btn btn-btn btn-success" href="/catalogo#cupcakes">Ver Cupcakes  </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 ">
                        <div class="fiestas card-effect ">
                            <h3 class="mt-4 mb-2 text-info ">Cakepops</h3>
                            <hr>
                            <ul class="list-unstyled mb-4 ">
                                <p><b>Sabores Disponibles</b> </p>
                                <li><i class='bx bxs-check-circle'></i></i>Chocolate</li>
                                <li><i class='bx bxs-check-circle'></i>Vainilla</li>
                                <li><i class='bx bxs-check-circle'></i> Fresa</li>
                                <p><br/> <b>Dips sabores</b> </p>
                                <li><i class='bx bxs-check-circle'></i> Chocolate Banco </li>
                                <li><i class='bx bxs-check-circle'></i>Chocolate Rojo</li>
                                <li><i class='bx bxs-check-circle'></i>Chocolate Morado </li>
                            </ul>
                            <a type="button" class="btn btn-btn btn-success" href="/catalogo#cakepops">Ver Cakepops </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 ">
                        <div class="fiestas card-effect ">
                            <h3 class="mt-4 mb-2 text-info ">Galletas</h3>
                            <hr>
                            <ul class="list-unstyled mb-4 ">
                                <p><b>Sabores Disponibles</b> </p>
                                <li><i class='bx bxs-check-circle'></i></i>Chispas de chocolate</li>
                                <li><i class='bx bxs-check-circle'></i>Oreo</li>
                                <li><i class='bx bxs-check-circle'></i>Mantequella</li>
                            </ul>
                            <a type="button" class="btn btn-btn btn-success" href="/catalogo#galletas">Ver Galletas</a>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-6 ">
                        <div class="fiestas card-effect ">
                            <h3 class="mt-4 mb-2 text-info ">Pays</h3>
                            <hr>
                            <ul class="list-unstyled mb-4 ">
                                <p><b>Sabores Disponibles</b> </p>
                                <li><i class='bx bxs-check-circle'></i>Queso crema </i>
                                </li>
                                <li><i class='bx bxs-check-circle'></i>Fresa</li>
                                <li><i class='bx bxs-check-circle'></i> Nuez</li>
                            </ul>
                            <a type="button" class="btn btn-btn btn-success" href="/catalogo#pays">Ver Pays</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 ">
                        <div class="fiestas card-effect ">
                            <h3 class="mt-4 mb-2 text-info ">Brownies</h3>
                            <hr>
                            <ul class="list-unstyled mb-4 ">
                                <p><b>Sabores Disponibles</b> </p>
                                <li><i class='bx bxs-check-circle'></i></i>Fudge</li>
                                <li><i class='bx bxs-check-circle'></i>Almendras</li>
                                <li><i class='bx bxs-check-circle'></i>Cacahuate</li>
                            </ul>
                            <a type="button" class="btn btn-btn btn-success" href="/catalogo#brownies">Ver Brownies</a>
                        </div>
                    </div>


                </div>
        </section>

    </body>