<%- layout('layouts/app') %>


    <body background="img/cup.jpg">
        <section id="cursos">
            <div class="container-fluid">
                <div class="row mb-5">
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="proyecto">
                            <img src="img/curso1.jpg" height="300px" width="500px" alt="">
                            <div class="overlay">
                                <div>
                                    <h4 class="text-white">Curso de Pasteles</h4>
                                    <h6 class="text-white">Descripcion: Aprende a hacer pasteles desde cero.</h6>
                                    <a type="button" class="btn btn-btn btn-success" href='/cursoPastel'>Registrar </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6">
                        <div class="proyecto">
                            <img src="img/curso2.jpg" height="300px" width="500px" alt="">
                            <div class="overlay">
                                <div>
                                    <h4 class="text-white">Curso de Cupcakes</h4>
                                    <h6 class="text-white">Descripcion: Aprende a hacer Cupacakes y su delicioso filling en poco tiempo. </h6>
                                    <a type="button" class="btn btn-btn btn-success" href='/cursoCupcakes'>Registrar </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="proyecto">
                            <img src="img/pies.jpg" height="300px" width="500px" alt="">
                            <div class="overlay">
                                <div>
                                    <h4 class="text-white">Curso de Pays </h4>
                                    <h6 class="text-white">Descripcion: Aprende a hacer Pies de diferentes tipos de texturas y sabores. </h6>
                                    <a type="button" class="btn btn-btn btn-success" href='/cursoPays'>Registrar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </body>