<%- layout('layouts/app') %>


    <body background="img/bro.jpg">
        </div>
        <section id="servicios">
            <div class="container">
                <div class="row mb-5">

                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-sm-6">
                        <div class="fiestas card-effect">
                            <div class="iconbox ">
                                <img src="img/Bdays.jpg" height="170px" width="300px">
                            </div>
                            <h2 class="mt-4 mb-2">Fiestas</h2>
                            <p>Nos adaptamos a cualquier tematica!!</p>
                            <a type="button" class="btn btn-btn btn-success" href='/fiestas'>Agendar Fiesta </a>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6">
                        <div class="fiestas card-effect">
                            <div class="iconbox ">
                                <img src="img/eventos.jpg" height="170px" width="300px">
                            </div>
                            <h2 class="mt-4 mb-2">Eventos</h2>
                            <p>Estamos disponibles para cualquir tipo eventos</p>
                            <a type="button" class="btn btn-btn btn-success" href='/eventos'>Agendar Evento</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="fiestas card-effect">
                            <div class="iconbox ">
                                <img src="img/pedido.jpg" height="170px" width="300px">
                            </div>
                            <h2 class="mt-4 mb-2">Pedidos</h2>
                            <p>Necesitas un pedido? Agenda ahora !</p>
                            <a type="button" class="btn btn-btn btn-success" href='/pedidos'>Realizar Pedido </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="fiestas card-effect">
                            <div class="iconbox ">
                                <img src="img/cursos.jpg" height="170px" width="300px">
                            </div>
                            <h2 class="mt-4 mb-2">Cursos</h2>
                            <p>Te interesa aprender reposteria? Registrate! </p>

                            <a type="button" class="btn btn-btn btn-success" href="/cursos">Ver Cursos</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="fiestas card-effect">
                            <div class="iconbox ">
                                <img src="img/receta.jpg" height="170px" width="300px">
                            </div>
                            <h2 class="mt-4 mb-2">Recetas</h2>
                            <p>Quieres soprender a tu familia con un rico postre? <br/> Aqui les compartimos algunas de nuestras recetas!!</p>
                            <a type="button" class="btn btn-btn btn-success" href="/recetas">Ver Recetas</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>